@{
    ViewBag.Title = "Додавання зображення до шапки сайту";
}

<form asp-action="AddImage" method="post" enctype="multipart/form-data">
    <div class="container border p-3 mt-4 w-75">
        <h2 class="m-3">Додавання зображення</h2>
        <div class="row mb-3">
            <div class="col-3">
                <label class="form-label p-3 lead">Зображення:</label>
            </div>
            <div class="col-9">
                <input type="file" name="image" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Додати</button>
            </div>
            <div class="col-6">
                <a asp-action="Index" class="btn btn-secondary form-control">Назад</a>
            </div>
        </div>
    </div>
</form>