@{
    ViewBag.Title = "Замовлення підтверджено";
}

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Замовлення підтверджено!</h4>
        <p>Дякуємо за замовлення! Наш оператор скоро зв'яжиться з вами.</p>
        <hr>
        <a asp-action="Index">На головну</a>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/js/bootstrap.bundle.min.js"></script>
}