@model IEnumerable<ArticleResponse>

@{
    ViewBag.Title = "Статті";
}

<div class="container">
    <div class="row">
        <div class="container">
            <div class="row pt-4">
                <div class="col-6">
                    <h2 class="text-primary">Статті</h2>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Articles" asp-action="Create" class="btn btn-primary mb-3">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <tbody>
                @foreach (ArticleResponse article in Model)
                {
                    <tr>
                        <td class="lead">
                            @article.Title
                        </td>
                        <td style="width:15%">
                            <a asp-controller="Articles" asp-action="Edit" asp-route-articleId="@article.Id" class="btn btn-dark mb-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-controller="Articles" asp-action="Delete" asp-route-articleId="@article.Id" class="btn btn-danger mb-2">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>